body {
  margin: 0;
  font-family: 'Roboto', 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100%;
  background-color: rgb(161 194 232);
}

svg {
  width: 35px;
  height: 35px;
  color: #2d2d3d;
  margin: 35px 15px 0 0;
}
